<p id="notice"><%= notice %></p>

<h1><%= @destination.city %>, <%= @destination.country %></h1>

<p><%= @destination.description %></p>

<% if !@destination.activities.empty? %>
	<h2>Activities</h2>
	<ul>
		<% @destination.activities.each do |activity| %>
		<li><a href="<%= activity.url %>" target="_blank"><%= activity.name %></a></li>
		<% end %>
	</ul>
<% end %>

<div class="btn-group">
  <%= link_to 'Edit', edit_destination_path(@destination), class: "btn btn-default" %> 
  <%= link_to 'Back', destinations_path, class: "btn btn-default" %>
</div>


